/* general styles */
body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 400px;
	color: #5E5E5E;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

.container {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 200px;
}

.main-content {
	margin: 50px 10% 75px 10%;
	text-align: center;
}

.column-content_one {
	margin: 50px 10% 75px 10%;
	text-align: center;

}

img {
    
    padding: 10px 0;
    max-width: 100%;
    float: center;
    height: auto;
}

/* links color*/

a {
	color: #11a2ab;
}

/*header styles*/

.header {
	width: 100%;
	height: 100px;
	background-color: #2B2E3A;
	border-bottom: 8px solid #477274;
}

.logo {
	margin: 0;
	padding: 20px 0 0 80px;
	font-size: 40px;
	float: left;
}

.logo a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.nav {
	list-style-type: none;
	float: right;
	margin-right: 80px;
	margin-top: 30px;
}

.menu-item {
	display: inline-block;
	padding: 10px 0;
	position: relative;
	border-radius: 25px;
	width: 180px;
	text-align: center;
}

.dropdown {
	padding: 0;
	list-style-type: none;
	width: 250px;
	padding: 0;
  	position: absolute;
 	top: 42px;
  	left: -35px;
  	background-color: #2B2E3A;
  	display: none;
}

.dropdown li {
	padding: 15px 0;
}

.menu-item:hover .dropdown {
	display: block;
}

.menu-item a {
	color: #C4C4C4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.menu-item:hover,
.dropdown li:hover {
	background-color: #000;
}

.dropdown a {
	color: #C4C4C4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 25px;
}

.menu-active {
	background-color: #000;
}

.active-link {
	color: #11a2ab !important;
}

/* footer and navigation menu styles*/

.footer {
	width: 100%;
	height: 200px;
	background-color: #21232B;
	position: absolute;
	bottom: 0;
}

.footer-info {
	margin-top: 40px;
}

.footer-info p {
	color: #fff;
	font-size: 20px;	
	text-align: center;
	font-size: 18px;
}

.grey {
	color: #BFBFBF;
	font-weight: bold;
}


/* contact page*/
.contact h1 {
	font-weight: normal;
}

.orange {
	color: #F6A327;
}

.contact {
	width: 60%;
	display: inline-block;
}

.contact-form input {
	width: 70%;
	height: 30px;
	background-color: #f2f2f2;
	border-radius: 25px;
	border: 1px solid #e3e3e3;
}

.contact-form textarea {
	width: 100%;
	height: 250px;
	background-color: #f2f2f2;
	border-radius: 25px;
	border: 1px solid #e3e3e3;
}

.contact-form label {
	margin: 10px 0;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
}

.send-btn {
	background-color: #EF8F00;
	border: none;
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 25px;
}

.send-btn:hover {
	background-color: #FFB13D;
}

.contact-info {
	width: 30%;
	vertical-align: top;
	display: inline-block;
	margin: 60px 0 0 9%;
}

.contact-info h2 {
	text-transform: uppercase;
	font-weight: normal;
}

.contact-info span {
	font-weight: bold;
}